* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* HERO */
.hero {
    height: 100vh; /* full layar */
    background: url("alam_bandung.jfif");
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35); 
}

.hero-text {
    position: absolute;
    bottom: 20%;
    left: 7%;
    width: 45%;
    color: white;
}

.hero-text h2 {
    font-family: "Times New Roman", serif;
    font-size: 58px;
    margin: 0 0 15px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}

.hero-text p {
    font-size: 20px;
    line-height: 1.5;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}

/* BUTTON WA */
.btn-wa {
    display: inline-block;
    margin-top: 20px;
    background: #4daf81;
    color: white;          
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease;
}

.btn-wa:hover {
    background: #18a662;
}

.footer {
    background: #0D1B2A;
    color: #fff;
    padding: 60px 0 25px;
    font-family: Arial, sans-serif;
}

.footer-container {
    width: 90%;
    max-width: 1300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 40px;
}

.footer-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

.footer-sub {
    font-size: 14px;
    margin-bottom: 15px;
    color: #d1d5db;
}

.footer-desc {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 8px;
    font-size: 15px;
}

.footer-col ul li a {
    color: #dcdcdc;
    text-decoration: none;
}

.footer-col ul li a:hover {
    color: #00ffa6;
}

.social-icons {
        display: contents;
        gap: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
        align-items: center;
}

.social-icons a {
        color: #ffffff;
        font-size: 1.8rem; 
        transition: color 0.3s ease;
}

.social-icons a:hover {
        color: #3b82f6; 
}

.wa-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 16px;
    background: #25D366;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.wa-btn:hover {
    background: #1ebf5a;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    font-size: 14px;
    color: #b9b9b9;
    line-height: 1.5;
}

@media (max-width: 600px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .footer-social {
        justify-content: center;
    }
}