* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* HERO */
.hero {
    height: 100vh; /* full layar */
    background: url("alam_bandung.jfif");
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35); 
}

.hero-text {
    position: absolute;
    bottom: 20%;
    left: 7%;
    width: 45%;
    color: white;
}

.hero-text h2 {
    font-family: "Times New Roman", serif;
    font-size: 58px;
    margin: 0 0 15px;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}

.hero-text p {
    font-size: 20px;
    line-height: 1.5;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}

/* BUTTON WA */
.btn-wa {
    display: inline-block;
    margin-top: 20px;
    background: #4daf81;
    color: white;          
    padding: 12px 25px;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease;
}

.btn-wa:hover {
    background: #18a662;
}
