body {
    margin: 0;
    background: #162b4a;
    font-family: Arial, sans-serif;
}

.icons i {
    margin-left: 15px;
    font-size: 20px;
    cursor: pointer;
}

.content {
    padding: 20px;
}

.user-info{
    color: black;
}

.user-card {
    background: #ece4d7;
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    margin-top: 100px;
}

.logout-btn {
    margin-left: auto;
    padding: 8px 15px;
    background: #c0392b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


.section-title {
    margin-top: 25px;
    font-size: 18px;
    color: white;
}

.add-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    background: #4a332d;
    color: white;
    border: none;
    font-size: 22px;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
}
