.ulasan-section {
    background: #0e1a2b;
    color: #ffffff;
    padding: 60px 20px;
    text-align: center;
}

.judul-ulasan {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
}

.sub-judul {
    font-size: 18px;
    margin-bottom: 50px;
    color: #cfcfcf;
}

.ulasan-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.ulasan-card {
    background: #132237;
    width: 320px;
    padding: 30px 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    text-align: center;
    transition: transform 0.3s;
}

.ulasan-card:hover {
    transform: translateY(-5px);
}

.avatar {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 50%;
    color: white;
    font-size: 22px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stars {
    margin: 15px 0;
    color: gold;
    font-size: 20px;
}

.pesan {
    font-style: italic;
    margin: 15px 0;
    color: #e1e1e1;
}

.nama {
    font-weight: bold;
    margin-top: 10px;
}

.lokasi {
    font-size: 14px;
    color: #c8c8c8;
}
